@import url('https://fonts.googleapis.com/css?family=Outfit');

body{
    background-color: #D5E1EF;
}

.container{
    display: inline-block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 15px;
    margin: auto;
    text-align: center;
    background-color: white;
    border-radius: 20px;
    width: 250px;
    height: 420px;
}

img {
    width: 100%;
    border-radius: 10px;
}

.Title{
    font-family: "Outfit";
    font-size: 22px;
    color: #2B3243;
    font-weight: 700;
    text-align: center;
}

.Subtitle {
    font-family: "Outfit";
    font-size: 15px;
    color: #84868E;
    font-weight: 400;
    text-align: center;
    margin-top: 20px;
}





